<p id="notice"><%= notice %></p>

<% @questions.each do |question| %>
  <div class="well">
    <%= link_to question.content, question %>
  </div>
<% end %>

<br>

<%= link_to 'New Question', new_question_path %>
