<h3><%= @question.content %></h3>
<p><%= @question.user.email %></p>

<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>

<%= simple_form_for(@answer) do |f| %>
	<%= f.input :content, label: "Answer" %>
	<%= f.hidden_field :question_id, value: @question.id %>
	<%= f.submit "답 등록하기", class: "btn btn-default" %>
<% end %>

<hr>

<% @question.answers.each do |answer| %>
	<div class="well">
    <%= answer.content %> by <%= answer.user.email %>

    <div>
    	<% answer.corrections.each do |correction| %>
    		<div class="alert alert-info" role="alert">
    			- <%= correction.content %> by <%= correction.user.email %>
    		</div>
    	<% end %>
	    <%= simple_form_for(Correction.new) do |f| %>
				<%= f.input :content, label: "Correction" %>
				<%= f.hidden_field :answer_id, value: answer.id %>
				<%= f.submit "수정 등록하기", class: "btn btn-default" %>
			<% end %>
		</div>
  </div>
<% end %>